.form {
  display: flex;
}
.form textarea {
  flex: 1;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid var(--todoBackgroundColor);
  resize: none;
}
.createBtn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  background-color: var(--todoBackgroundColor);
  color: white;
}
.todoList {
  margin-top: 1rem;
}
