.form {
  display: flex;
}
.form input {
  flex: 1;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid rgb(85, 130, 255);
}
.createBtn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  background-color: rgb(85, 130, 255);
  color: white;
}
.todoList {
  margin-top: 1rem;
}
.listItem {
  display: flex;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1rem;
  border-bottom: 1px solid rgb(204, 216, 248);
}
.todoItem,
.todoItemChecked {
  flex: 1;
}
.todoItemChecked {
  color: gray;
  text-decoration: line-through;
}
.deleteBtn {
  /* padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem; */
  margin-left: 1rem;
  border: none;
  border-radius: 5px;
  /* background-color: rgb(85, 130, 255); */
  color: rgb(233, 64, 64);
}
.deleteBtn:hover {
  background-color: rgb(233, 64, 64);
  color: white;
}
.checkBtn {
  margin-left: 1rem;
  border: none;
  border-radius: 5px;
  color: rgb(61, 180, 112);
}
.checkBtn:hover {
  background-color: rgb(61, 180, 112);
  color: white;
}
