.Todo {
  width: 700px;
  margin: 0 auto;
  margin-top: 1.5rem;
  border-bottom: 2px solid var(--todoBackgroundColor);
}

.Templates {
  background-color: var(--backgroundColor);
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

.blueTemplate,
.grayTemplate,
.greenTemplate,
.purpleTemplate {
  width: 70px;
  height: 70px;
  margin: 0.5rem;
}

.blueTemplate {
  background-color: var(--blueColor);
}

.grayTemplate {
  background-color: var(--grayColor);
}

.greenTemplate {
  background-color: var(--greenColor);
}

.purpleTemplate {
  background-color: var(--purpleColor);
}

.Todo-Header {
  text-align: center;
  background-color: var(--todoBackgroundColor);
  color: white;
  font-size: 60px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Todo-Form {
  background-color: white;
  flex: 0;
  padding: 1rem;
}
