.Todo {
  background-color: white;
  width: 512px;
  margin: 0 auto;
}

.Todo-Header {
  text-align: center;
  background-color: rgb(85, 130, 255);
  color: white;
  font-size: 60px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Todo-Form {
  flex: 0;
  padding: 1rem;
  border-bottom: 2px solid rgb(85, 130, 255);
}
