.Todo {
  background-color: white;
  width: 512px;
  margin: 0 auto;
}

.Todo-Header {
  text-align: center;
  background-color: rgb(36, 34, 34);
  color: skyblue;
  font-size: 60px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
